#
# Project:     C/C++ Makefile
# Author:      Mirco Caramori
# Copyright:   (c) 2020 Mirco Caramori
# Repository:  https://github.com/mircolino/makefile
#
# Description: instruct git to ignore files and directories that should not be save in the repository
#

**/desktop.ini
